
{% extends "base.html" %}
{% load static %}
<title>
  {% block title %} My Portfolio {% endblock %}
</title>


{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Alton Vanie Kesselly</h1>
      <p>I'm <span class="typed" data-typed-items="an Educator, a Research Scientist, a Data Analyst"></span></p>
    </div>
  </section><!-- End Hero -->



{% endblock %}
