<!-- about.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Resume{% endblock %}

{% block content %}

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>
            Enclosed is a succinct overview of my resume, which highlights my extensive experience across
            multiple roles and disciplines. My career spans significant positions as an educator, research
            scientist, and data analyst, reflecting a robust track record of professional excellence.
          </p>

          <p>
            Additionally, my academic foundation is exceptionally strong, having pursued studies in diverse
          international settings including Liberia, Nigeria, South Africa, China, and the United States.
            This global
            educational background has equipped me with a broad perspective and unique insights, enhancing
            my professional versatility and adaptability.
          </p>
          <p>
            Please feel free to explore the Portfolio page to download a detailed copy of my resume.
            For additional insights into my work, experiences, and educational background, I encourage
            you to reach out through the Contact page. I am available to provide further information and
            answer any questions you may have.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Alton V. Kesselly</h4>
              <p><em>
               I am a profoundly dedicated and committed professional, boasting over eight years of invaluable
                experience across multiple disciplines including education, mathematics, research science,
                and data analysis. With a strong academic and professional background, I excel in
                leveraging my analytical skills to address complex challenges. I am eager to apply
                strategic leadership and adept management to drive meaningful outcomes and contribute
                effectively to my field.
              </em></p>
              <ul>
                <li>Old CID Road,Mamba Point, Monrovia, Liberia</li>
                <li>(+231) 888-757477</li>
                <li>kessellyalton@outlook.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Science &amp; Applied Mathematics</h4>
              <h5>2013 - 2015</h5>
              <p><em>University of Cape Town, Cape Town, South Africa</em></p>
              <p>
                Investigates some very and more recent issues surrounding the Physics of Black holes.
                Particularly, if a black hole evaporates completely, what happened to the information inside?
                This thesis concludes with some interesting ideas on how the information loss problem can be resolved.
              </p>
            </div>

            <div class="resume-item">
              <h4>Master of Science &amp; Mathematical Sciences</h4>
              <h5>2012 - 2013</h5>
              <p><em>African Institute for Mathematical Science/University of Stellenbosch, Cape Town,
                South Africa</em></p>
              <p>
     Reviews the Chameleon particle and how its two distinctive features-thin shell and mimicking of its
                environment- account for the existence of a fifth force
that is locally undetectable. This is intended to provide an alternate explanation for
the so-called Dark Energy that is a great mystery to scientists.
              </p>
            </div>

            <div class="resume-item">
              <h4>Master of Science &amp; Astronomy</h4>
              <h5>2008 - 2011</h5>
              <p><em>University of Science and Technology of China,
                      Hefei, Anhui Province, China.
              </em></p>
              <p>
                demonstrated that high signal-to-noise ratio and better spatially resolved data can account for
                some of the observations that are inconsistent with the Unification Models of Active Galactic Nuclei.
              </p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Science &amp; Physics</h4>
              <h5>2002 - 2007</h5>
              <p><em>University of Abuja, Abuja, Nigeria</em></p>
              <p>
              I delved deeply into the complexities of the geomagnetic field, analyzing its unique properties
                and assessing the wide-ranging impacts it has on society and human health. My investigation
                aimed to uncover both the advantageous effects and the potential hazards associated with
                geomagnetic phenomena, striving to contribute valuable insights into environmental science
                and public health discussions.
              </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Deputy Minister of Education for Planning, Research and Development</h4>
              <h5>Ministry of Education-Liberia</h5>
              <h6>2018 - 2024</h6>
              <p><em>Oldest Congo Town, Monrovia, Liberia </em></p>
              <ul>
                <li>
                  Led designing, developing, managing and coordinating of policies, procedures and activities
                  for reviewing and updating national education plans, for ensuring that all developed plans
                  are in consonance with the national development priorities and objective
                </li>
                <li>
                   Led the development of the plan, design and construction schedules of all public, private and
                  faith based education facilities whether directly financed by government or development partners
                </li>
                <li>
                  Led the development and implementation of the management information system that include,
                  but not limited to, educational statistics, national demographics records, etc
                </li>
                <li>
                  spearheaded the development, review, revision, pilot testing and updating of the national
                  curriculum at all levels
                </li>
                <li>
                  served as the principal liaison between the Ministry of Education and the Ministry of Finance,
                  developmental partners, donor community, domestic, and external institutions involved
                  in education
                </li>
                <li>
                  Led the arm of the Ministry of Education responsible for the preparation of the Ministry of
                  Education annual report and budget.
                </li>
                <li>
                  serve as the clearinghouse for education development activities and for the supervision of
                  construction, renovation and expansion of schools and other education facilities.
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Executive Director</h4>
              <h5>Liberia Institute for Science, Technology, Engineering and Mathematics (LISTEM)</h5>
              <h6>2017 - 2018</h6>
              <p><em>Sinkor, Monrovia, Liberia</em></p>
              <ul>
                <li>promoted, honed and enhanced the skills of Liberians in STEM through mentorship and scholarship.</li>
                <li>
                  created a culture of STEM based research and innovation across schools and like-minded
                  institutions in Liberia, to carry out and participate in various STEM related education and
                  innovative initiatives
                </li>
                <li>
                  encouraged, promoted and facilitated the culture of interdisciplinary research between STEM
                  and non-STEM disciplines
                </li>
                <li>
                  Organized seminars, workshops, training, documentations, public forums, dramas, jingoes and
                  debates for the purpose of raising awareness
                </li>
                <li>
                  impacted the skills and knowledge intended to enhance the capacity of deserving and talented
                  Liberians
                </li>
                <li>
                  raise funds and receive contributions where appropriate to finance research, innovation and
                  other educational programs undertaken by the Institute and ensure accountability, to promote
                  STEM education through recreations and sports
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

{% endblock %}
