<!-- about.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Testimonials{% endblock %}


{% block content %}

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Welcome to our Testimonials page! Here, you’ll find heartfelt endorsements from individuals and
            organizations who have experienced the transformative impact of our work. These testimonials
            reflect the diverse range of our services—from educational leadership and advanced data analysis
            to groundbreaking research and policy development. Each entry below showcases the profound
            effect we've had on educators, researchers, policy makers, and various educational communities.
            We are proud to share these stories of success and innovation as we continue to strive for
            excellence and make meaningful contributions to the field of education. Read on to see how
            our dedication and expertise are making a difference.
          </p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Thanks to Alton's visionary leadership and commitment to educational excellence,
                  our school has seen remarkable improvements in both teacher performance and student outcomes.
                  The new curricula and teaching methods introduced have truly transformed our learning environment.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 Working with Alton Kesselly on several research initiatives has been a game-changer.
                  Their expertise in data analysis has brought new insights to our projects, directly
                  contributing to groundbreaking publications in educational science.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The policy analysis provided by Alton was instrumental in shaping our national education reforms.
                  Their recommendations were not only insightful but practical, driving significant legislative
                  changes that will benefit generations.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Alton's meticulous approach to data and their ability to distill complex information into
                  actionable insights have revolutionized our approach to school assessments. Their work has
                  directly improved student performance metrics.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The professional development workshops led by Alton have profoundly impacted my teaching style.
                  Their innovative techniques and supportive approach have empowered me to engage my students
                  more effectively.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


{% endblock %}
